h1 {
    font-family: arial;
    text-align: center;
   
}

header {
    background-color: lightgray;
    padding: 50px;
    border-style: dashed;
}
p {
    font-family: arial;
    text-align: center;
}

body {
    background-color: lightgray;
}