h1 {
    text-align: center;
    padding-top: 20px;
}

h2 {
    text-align: center;
    padding-bottom: 70px;
    padding-top: 25px;
}

p {
    text-align: center;
    padding-top: 70px;
    
}

img {
    border-radius: 40px;
    max-width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding: 120px;
    font-family: arial;
   
}

body {
    background-color: lightgray;
    border-style: dashed;
    margin: 30px;
    border-radius: 15px
}

.play {
    border-radius: 5px;
    background-color: #FFBCE5;
    padding: 10px;
    margin-left: 401px;
    font-weight: bold;
}

ul {
    list-style: none;
    text-align: center;
    word-spacing: 175px;
    padding: 15px;
    
}

li {
    display: inline;
    font-weight: bold;
    
}

footer {
    font-family: arial;
    padding-top: 20px;
   
}